@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
/* tailwind customization */
@theme {
  --breakpoint-2xl: 992px;
  --breakpoint-3xl: 1296px;
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --color-primary_blue: #0698d6;
  --color-secondary_purple: #2f335b;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-roboto);
}
