@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
/* tailwind customization */
@theme {
  --breakpoint-2xl: 992px;
  --breakpoint-3xl: 1296px;
  --font-roboto: "Roboto", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --color-primary_blue: #0698d6;
  --color-secondary_purple: #2f335b;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-roboto);
}

.navbar-button:hover {
  background-color: var(--color-primary_blue);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0.5rem var(--color-primary_blue);
}
.navbar-button:hover .icon {
  color: #fff;
  text-shadow: 0 0 0.5rem var(--color-primary_blue),
    0 0 1rem var(--color-primary_blue), 0 0 1.5rem var(--color-primary_blue);
  filter: drop-shadow(0 0 10px var(--color-primary_blue));
}
.links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--color-secondary_purple);
  transition: 0.2s ease-in-out;
}
.links::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 3px;
  background-color: var(--color-secondary_purple);
  transition: 0.2s ease-in-out;
}
.links:hover::before {
  width: 50%;
}
.links:hover::after {
  width: 50%;
}
.links {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
